body {
    width: 100%;
}

#footer {
    margin-top: 10px;
    text-align:center
}

caption {
    background-color:pink;
    font-weight:bold;
    font-size:25px;
    border: 4px solid;
    border-bottom: 0px;
}

table {
    border: 4px solid;
    border-top: 0px;
    table-layout: fixed;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

td.count {
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

td.empty {
    background-color:lightyellow;
}

th.corner {
    padding:0 15px 0 15px;
    background-color:lightgreen
}

th.sectionheader {
    font-weight:bold;
    background-color:lightsteelblue;
    text-align: center;
    vertical-align: middle;
}

.subsectionheader {
    background-color:lightblue;
}
