<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- Ignored at this stage -->
  </head>
  <body>
    <div class="mainbody">

      <dcc.Interval id="interval-component-run-chiller"    interval="int:2000" n_intervals="int:0" />
      <dcc.Interval id="interval-component-status-chiller" interval="int:1000" n_intervals="int:0" />
      <dcc.Store id="chiller-status" storage_type="session" />

      <dcc.Tabs id="tabsThermal" value="0">
    {% for chiller in chillers %}
        <dcc.Tab id="tabThermal-{{loop.index0}}" label="{{chiller}}" value="{{loop.index0}}"/>
    {% endfor %}
      </dcc.Tabs>

      <h1>Testing Crate Thermal Cycle</h1>
      <div id="thermal">


       <div id="chiller-operation" class="test-results">
          <div class="center-button">
            <dcc.RadioItems id="debugThermal" />
          </div>
          <h2 class="test-header">Basic Chiller Operations</h2>

           <div class="center-button">
            <span id="chiller_status" />
           </div>

          <table class="center-table">
          <tr>
            <td>
            <Button id="turn_on_button">Turn On Chiller </Button>
            <span id="turn_on_message" />
            </td>
            <td>
            <Button id="turn_off_button">Turn Off Chiller</Button>
            <span id="turn_off_message" />
            </td>
          </tr>
          <tr>
            <td>
            <Button id="set_temp_button">Set Target Temperature [C]:</Button>
            <span id="set_temp_message" />
            <dcc.Input id="set_temp" value="" placeholder="set-temp"/>
            </td>
            <td>
            <Button id="get_temp_button">Get Target Temperature [C]:</Button>
            <span id="get_temp_message" />
            <span id="get_temp" />
            </td>
          </tr>
          <tr>
            <td>
            <Button id="set_ramp_button">Set Ramp Rate [C/minute]:</Button>
            <span id="set_ramp_message" />
            <dcc.Input id="set_ramp" value="" placeholder="set-ramp"/>
            </td>
            <td>
            <Button id="get_ramp_button">Get Ramp Rate [C/minute]:</Button>
            <span id="get_ramp_message" />
            <span id="get_ramp" />
            </td>
          </tr>
          <tr>
            <td>
            <Button id="meas_temp_button">Measure Current Temperature [C]:</Button>
            <span id="meas_temp_message" />
            <span id="meas_temp" />
            </td>
            <td>
            <Button id="start_monitor_button">Start Monitoring</Button>
            <span id="start_monitor_message" />
            <Button id="stop_monitor_button">Stop Monitoring</Button>
            <span id="stop_monitor_message" />
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
                <td> <dcc.Checklist id="save-chiller-csv" /> </td>
                <td> <dcc.Checklist id="save-chiller-influx" /> </td>
            </td>
          </tr>
          </table>

          <h2 class="test-header">Thermal Cycle Settings</h2>
          <table class="center-table">
          <tr>
            <td>
            Low Temperature [C]:
            <dcc.Input id="low_temp" value="-40" placeholder="low-temp"/>
            </td>
            <td>
            High Temperature [C]:
            <dcc.Input id="high_temp" value="40" placeholder="high-temp"/>
            </td>
            <td>
            Ramp Down Rate [C/minute]:
            <dcc.Input id="downRR" value="5.5" placeholder="ramp down rate"/>
            </td>
            <td> 
            Number of Cycles:
            <dcc.Input id="nCycle" value="3" placeholder="nCycle"/>
            </td>
          </tr>
          <tr>
            <td>
            LowTemp keep time [minute]:
            <dcc.Input id="stay_low" value="10" placeholder="stay_low"/>
            </td>
            <td>
            HighTemp keep time [minute]:
            <dcc.Input id="stay_high" value="10" placeholder="stay_high"/>
            </td>
            <td>
            Ramp Up Rate [C/minute]:
            <dcc.Input id="upRR" value="5.5" placeholder="ramp up rate"/>
            </td>
            <td> 
            End Cycle Temp [C]:
            <dcc.Input id="endTemp" value="20.0" placeholder="endTemp"/>
            </td>
          </tr>

          </table>

           <div class="center-button">
            <Button id="thermal_cycle_button">Start Thermal Cycle</Button>
            <span id="thermal_cycle_message" />
            <Button id="thermal_cycle_stop_button">Stop Thermal Cycle</Button>
            <span id="thermal_cycle_stop_message" />
           </div>

           <div class="center-button">
            <span id="thermal_cycle_status_message" />
           </div>

       </div>

       <div id="auto-qc-panel" class="test-results">
          <h2 class="test-header">The Ultimate Automatic Quality Control Tests</h2>

           <div class="center-button">
            <span id="auto_qc_status" />
           </div>

          <table class="center-table">
          <tr>
            <td>
            Up Crate P0:
            <dcc.Input id="panel_up_p0" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P1:
            <dcc.Input id="panel_up_p1" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P2:
            <dcc.Input id="panel_up_p2" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P3:
            <dcc.Input id="panel_up_p3" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P4:
            <dcc.Input id="panel_up_p4" value="" placeholder="panel number"/>
            </td>
          </tr>
          <tr>
            <td>
            Up Crate P5:
            <dcc.Input id="panel_up_p5" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P6:
            <dcc.Input id="panel_up_p6" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P7:
            <dcc.Input id="panel_up_p7" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P8:
            <dcc.Input id="panel_up_p8" value="" placeholder="panel number"/>
            </td>
            <td>
            Up Crate P9:
            <dcc.Input id="panel_up_p9" value="" placeholder="panel number"/>
            </td>
          </tr>

          <tr>
            <td>
            Down Crate P0:
            <dcc.Input id="panel_down_p0" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P1:
            <dcc.Input id="panel_down_p1" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P2:
            <dcc.Input id="panel_down_p2" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P3:
            <dcc.Input id="panel_down_p3" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P4:
            <dcc.Input id="panel_down_p4" value="" placeholder="panel number"/>
            </td>
          </tr>
          <tr>
            <td>
            Down Crate P5:
            <dcc.Input id="panel_down_p5" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P6:
            <dcc.Input id="panel_down_p6" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P7:
            <dcc.Input id="panel_down_p7" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P8:
            <dcc.Input id="panel_down_p8" value="" placeholder="panel number"/>
            </td>
            <td>
            Down Crate P9:
            <dcc.Input id="panel_down_p9" value="" placeholder="panel number"/>
            </td>
          </tr>

          </table>

          <table class="center-table">
          <tr>
            <td>
            Burn-In current load [A]:
            <dcc.Input id="burn_in_current_load" value="1.8" placeholder="burn in current load"/>
            </td>
            <td>
            Burn-In time [h]:
            <dcc.Input id="burn_in_time" value="24" placeholder="burn in time"/>
            </td>
          </tr>
          </table>


           <div class="center-button">
            <Button id="start_auto_qc_button">Start Auto QC</Button>
            <span id="start_auto_qc_message" />
           </div>

           <div class="center-button">
            <Button id="stop_auto_qc_button">Stop Auto QC</Button>
            <span id="stop_auto_qc_message" />
           </div>

           <div class="center-button">
            <span id="auto_qc_status_message" />
           </div>

          <h2 class="test-header">Group operation of all panels in the rack</h2>

           <div class="center-button">
            <Button id="run_basic_test_button">Run Basic Tests</Button>
            <Button id="run_full_test_button">Run Full Tests</Button>
           </div>

           <div class="center-button">
            <span id="run_basic_test_message" />
            <span id="run_full_test_message" />
           </div>

           <div class="center-button">
            <Button id="run_stage_transition_button">Panel Stage Transition To:</Button>
            <span id="run_stage_transition_message" />
            <dcc.Dropdown id="transition-dropdown-group" />
           </div>


       </div>

        <div id="temp-monitoring" class="test-results">
          <h2 class="test-header">Temperature Monitoring</h2>
           <div class="center-button">
            <Button id="clear_monitor_data_button">Clear Monitoring Data</Button>
            <span id="clear_monitor_data_message" />
           </div>
          <div class="graph-group">
            <dcc.Graph id="temp-monitor-graph" />
          </div>
        </div>

        <div id="terminal-chiller" class="test-results">
          <h2 class="test-header">Terminal Output</h2>
          <pre id="display-test-chiller"/>
        </div>
      </div>
    </div>
  </body>
</html>
